<div id="perfil" class="card">
  <div>
    <img id="imagen-perfil" [src]="urlperfil" class="card-img-top" alt="...">
    <button  *ngIf="login" class="edit btn btn-dark" data-bs-toggle="modal" data-bs-target="#editperfil"><fa-icon [icon]="faEdit"></fa-icon></button>
  </div>
    <div class="card-body">
      <h5 class="card-title amatic" >Autorretrato</h5>
      <p class="card-text">Digitalización realizada con Adobe Illustrator</p>
      <p> Medidas: 20cmx21cm </p>
      <p>fecha 14/03/2022</p>
    </div>
  </div>
    <!-- Modal -->
<div class="modal fade" id="editperfil" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar Foto</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
          <div class="mb-3">
            <label class="form-label">URL de la Foto</label>
            <input type="text" class="form-control" #urlp>
          </div>
          <button type="submit" (click)="submitperfil(urlp.value)" class="btn btn-dark" data-bs-dismiss="modal">Aceptar</button>
        </form>
      </div>
    </div>
  </div>
</div>
