<div class="card">
    <div class="row g-0">
     <app-progreso-circular class="col-md-3" [valor]="habilidad.porcentaje"></app-progreso-circular>
     <div class="col-md-9">
      <div class="d-flex justify-content-between card-header">
        <h5 class="titulo">{{habilidad.titulo}}</h5> 
        <div class="d-flex justify-content-end">
        <button *ngIf="login" type="button" class="btn btn-dark" data-bs-toggle="modal" attr.data-bs-target="#editHab{{habilidad.id}}" (click)="editarhabilidad()"><fa-icon [icon]="faEdit"></fa-icon>
        </button>
        <button *ngIf="login" (click)="eliminarhabilidad()" class="justify-self-end btn btn-light"><fa-icon [icon]="faEliminar"></fa-icon></button>
      </div>
      </div>
        <div class="card-body">
          <p class="card-text contenido">{{habilidad.descripcion}}</p>
        </div>
      </div>
    </div>
   </div>
   <!-- Modal -->
<div class="modal fade" id="editHab{{habilidad.id}}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Editar habilidad</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formulario">
          <div class="mb-3">
            <label class="form-label">Titulo</label>
            <input type="text" class="form-control" formControlName="titulo">
          </div>
          <div class="mb-3">
            <label class="form-label">Descripcion</label>
            <input type="text" class="form-control" formControlName="descripcion">
          </div>
          <div class="mb-3">
            <label class="form-label">Porcentaje</label>
            <input type="number" min="0" max="100" class="form-control" formControlName="porcentaje">
          </div>
          <button type="submit" (click)="submithabilidad()" class="btn btn-dark" data-bs-dismiss="modal">Aceptar</button>
        </form>
      </div>
    </div>
  </div>
</div>
