<nav id="barra" class="navbar navbar-expand-lg navbar-dark">
    <div class="container-fluid">
      <img class="logoar" src="assets/APLogo-20-20.png" alt=""><img class="logoar" src="assets/LogosInti.png" alt="">
      <a class="navbar-brand" href="#"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="me-auto mb-2 mb-lg-0 textonav"> <p>Argentina Programa- #yoPROGRAMO</p> </div>
        <form class="d-flex">
          <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
            <div class="btn-group me-2" role="group" aria-label="First group">
              <button type="button" class="btn btn-outline-secondary"><a href="https://instagram.com/nohumanx.art"><img class="logo" src="assets/instagram.png" alt=""></a></button>
            </div>
          </div>
          
        </form>
        <button *ngIf="!login" class="btn btn-dark me-2" data-bs-toggle="modal" data-bs-target="#test">Login</button>
        <button *ngIf="login" class="btn btn-dark me-2" (click)="logout()">Logout</button>
      </div>
    </div>
</nav>
