<div id="botonera" class="d-flex align-items-start">
  <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
    <button class="nav-link btn-dark btn-botonera" id="v-pills-educacion-tab" data-bs-toggle="pill"
      data-bs-target="#v-pills-educacion" type="button" role="tab" aria-controls="v-pills-educacion"
      aria-selected="true" (click)="educacion()"></button>
    <button class="nav-link btn-light btn-botonera" id="v-pills-experiencia-tab" data-bs-toggle="pill"
      data-bs-target="#v-pills-experiencia" type="button" role="tab" aria-controls="v-pills-experiencia"
      aria-selected="false" (click)="experiencia()"></button>
    <button class="nav-link btn-light btn-botonera" id="v-pills-habilidad-tab" data-bs-toggle="pill"
      data-bs-target="#v-pills-habilidad" type="button" role="tab" aria-controls="v-pills-habilidad"
      aria-selected="false" (click)="habilidades()"></button>
    <button class="nav-link btn-light btn-botonera" id="v-pills-proyecto-tab" data-bs-toggle="pill"
      data-bs-target="#v-pills-proyecto" type="button" role="tab" aria-controls="v-pills-proyecto"
      aria-selected="false" (click)="proyectos()"></button>
    <button class="nav-link btn-dark btn-inicio" id="v-pills-inicio-tab" data-bs-toggle="pill"
      data-bs-target="#v-pills-inicio" type="button" role="tab" aria-controls="v-pills-inicio"
      aria-selected="true"><fa-icon [icon]="faArrow"></fa-icon></button>
  </div>
  <div class="tab-content" id="v-pills-tabContent">
    <!-- educacion -->
    <div class="tab-pane fade v-pills" id="v-pills-educacion" role="tabpanel" aria-labelledby="v-pills-educacion-tab">
      <app-educacion></app-educacion>
    </div>
    <!--  experiencia -->
    <div class="tab-pane fade v-pills" id="v-pills-experiencia" role="tabpanel"
      aria-labelledby="v-pills-experiencia-tab">
      <app-experiencia></app-experiencia>
    </div>
    <!--  habilidades -->
    <div class="tab-pane fade v-pills" id="v-pills-habilidad" role="tabpanel" aria-labelledby="v-pills-habilidad-tab">
      <app-habilidades></app-habilidades>
    </div>
    <!-- proyecto -->
    <div class="tab-pane fade v-pills" id="v-pills-proyecto" role="tabpanel" aria-labelledby="v-pills-proyecto-tab">
      <app-proyectos></app-proyectos>
    </div>
    <!-- Inicio -->
    <div class="tab-pane fade show active" id="v-pills-inicio" role="tabpanel" aria-labelledby="v-pills-educacion-tab">
      <app-inicio></app-inicio>
    </div>
  </div>
</div>
