<button *ngIf="login" type="button" class="agregar btn btn-dark" data-bs-toggle="modal" data-bs-target="#agregarobra"><fa-icon [icon]="faPlus"></fa-icon>
</button>
<div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  
    <div class="carousel-indicators">
      <button *ngFor="let obra of obras, index as i" type="button" data-bs-target="#carouselExampleCaptions" [attr.data-bs-slide-to]="i" [class.active]="i==0" [attr.aria-current.true]="i==0?'true':'false'" aria-label="Slide 1"></button>
      <!-- <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button> -->
    </div>
    <div class="carousel-inner">
    
      <div class="carousel-item" *ngFor="let obra of obras, index as i" [class.active]="i==0">
       <app-obra [obra]="obra" (eliminar)="eliminar($event)"></app-obra>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <div class="modal fade" id="agregarobra" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Editar Obras</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="formulario">
            <div class="mb-3">
              <label class="form-label">URL de la obra</label>
              <input type="text" class="form-control" formControlName="url">
            </div>
            <div class="mb-3">
              <label class="form-label">Titulo</label>
              <input type="text" class="form-control" formControlName="titulo">
            </div>
            <div class="mb-3">
              <label class="form-label">Descripcion</label>
              <input type="text" class="form-control" formControlName="descripcion">
            </div>
            <button type="submit" (click)="submitobra()" class="btn btn-dark" data-bs-dismiss="modal">Aceptar</button>
          </form>
        </div>
      </div>
    </div>
  </div>