<p class="charm">Hola, mi nombre es:</p>
<p class="nautigal">Anahí Carranza </p>
<div class="separador"></div>
<p class="comic">Soy estudiante de Artes Visuales y Full-Stack Developer jr.,
  Elaboro composiciones artísticas para el público general, mostrando que no existen obstáculos para explorar la
  creatividad, teniendo en cuenta los criterios visuales y el buen uso de las herramientas disponibles, incentivando a
  desarrollar las habilidades y capacidades que existen dentro de cada persona.
</p>
<p class="amita">Te invito a conocerme y descubrir las ilustraciones escondidas.</p>
